{% extends 'base.html' %} {% load static %} {% block content %}
<section class="slide-in-right xl:h-[calc(100vh-13rem)] h-[calc(100vh-12rem)] ">
  <div class="xl:w-[70%] w-[90%]  mx-auto h-full">
    <div class="mt-[1rem] xl:mt-0 h-full">
      <div class="grid grid-col-1 h-full  xl:grid-cols-2 place-content-center">
        <div class="hidden h-full xl:block">
            <img class="object-cover  h-full rounded-tl-md rounded-bl-md" src="{% static 'media/doodle.png' %}" alt="">
        </div>
        <div class="xl:p-[2rem] w-full lg:w-[30rem] xl:w-full  p-[1.5rem] rounded-md xl:rounded-none bg-[#303030] rounded-tr-md rounded-br-md">
          <h3 class="text-white text-xl xl:text-2xl font-bold">Contact</h3>
          <div class="mt-[2rem]">
            <form action="">
              <div class="">
                <label class="text-white" for="email">Email</label>
                <input
                  class="border-b mt-3 w-full h-[3rem] rounded-md bg-[#303030] border-[#00D1CD]"
                  type="email"
                  name="email"
                  id=""
                  placeholder="Email address" />
              </div>
              <div class="xl:mt-10 mt-5">
                <label class="text-white" for="email">Message</label>
                <textarea
                  class="border-b mt-3 w-full h-[8rem] xl:h-[18rem] rounded-md bg-[#303030] border-[#00D1CD]"
                  id=""
                  placeholder="Message">
                </textarea>
              </div>
              <div class="mt-10">
                <button class="bg-[#00D1CD] font-bold duration-300 ease-in-out hover:bg-[#505050] hover:text-white rounded-md text-gray-800 h-[3rem] w-full" type="submit">Send <i class="uil uil-message text-lg"></i></button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
