{% extends 'base.html' %} {% load static %} {% block content %}
<section class="slide-in-right h-[full]">
  <div class="w-[60%] mx-auto">
    <div class="mt-[2rem]">
      <div class="grid grid-cols-2">
        <div class="w-full  bg-[#303030]  rounded-lg flex justify-center">
            <img class="" src="{% static 'media/message.svg' %}" alt="">
        </div>
        <div class="p-[2rem] bg-[#303030] rounded-lg">
          <h3 class="text-white text-2xl font-bold">Contact</h3>
          <div class="mt-[2rem]">
            <form action="">
              <div class="">
                <label class="text-white" for="email">Email</label>
                <input
                  class="border-b mt-3 w-full h-[3rem] rounded-md bg-[#303030] border-[#00D1CD]"
                  type="email"
                  name="email"
                  id=""
                  placeholder="Email address" />
              </div>
              <div class="mt-10">
                <label class="text-white" for="email">Message</label>
                <textarea
                  class="border-b mt-3 w-full h-[20rem] rounded-md bg-[#303030] border-[#00D1CD]"
                  id=""
                  placeholder="Message">
                </textarea>
              </div>
              <div class="mt-10">
                <button class="bg-[#00D1CD] hover:bg-[#202020] rounded-md text-white h-[3rem] w-full" type="submit">Send <i class="uil uil-message text-lg"></i></button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
