{% extends 'base.html' %} {% load static %} {% block content %}
<section class=" h-[79vh]">
  <div class="container mx-auto">
    <div class="grid grid-cols-2">
      <div class="mt-[5rem]">
        <p class="text-white text-5xl leading-[6rem]">
            <span class="relative">I'm </span>
            <span class="text_2nd relative">
                 <span class="text-[#00D1CD] ">
                    Derick Danso Okyere
                </span>
                
            </span>
           
        </p>
        <p class="text-white text-3xl mt-[1rem]"><span class="text-[#00D1CD]">A Fullstack</span> engineer;</p>
        <p class="text-white leading-8 mt-[2rem] text-lg">I'm an enthusiastic and dedicated full-stack web developer, eager to embark on my journey as a junior in the world of software development. I specialize in Django and Django Rest Framework, and I'm proficient in HTML, CSS, and JavaScript. I am also an enthusiast of AI, always seeking innovative solutions to complex problems. With a deep-rooted love for technology and programming</p>
        <div class="mt-[2rem]">
          <a href="index.php?page=contact">
            <button class="bg-[#00D1CD] px-[2rem] py-[1rem] rounded-md text-white hover:bg-[#3E4040]">Contact Me <i class="uil uil-message text-lg"></i></button>
          </a>
        </div>
      </div>
      <div class="fade-in-fwd">
        <img
          class="w-[45rem] h-full"
          src="{% static 'media/Group 2.svg' %}"
          alt="" />
      </div>
    </div>
    
  </div>
</section>
{% endblock content %}
