{% extends 'base.html' %}
{% load static %}
{% block title %}Projects{% endblock title %}
{% block content %}
<section class="h-full">
    <div class="container w-[90%] 2xl:w-[70%] lg:w-[80%] md:w-[85%]  mx-auto xl:mt-[2rem] mt-[1rem] slide-in-bottom">
        <h1 class="text-white text-xl lg:text-2xl 2xl:text-3xl ">Projects</h1>
        <div class="grid xl:grid-cols-1 grid-cols-1 md:grid-cols-1  gap-[1.5rem]   mt-[1rem] ">
            {% for project in projects %}
            <div class="bg-[#303030] hover:bg-[#3E4040] border border-[#00D1CD] grid md:grid-cols-3 grid-cols-1  gap-6 md:p-6 p-4 rounded-lg transition duration-300 ease-in-out">
                <!-- Image Section (spans 4/5 columns on large screens) -->
                <div class="md:col-span-2 col-auto">
                    {% if project.project_image %}
                    <img class="object-cover rounded-md" src="{{project.project_image.url}}" alt="Project Image">

                    {% else %}
                    <img class="object-cover rounded-md" src="https://placehold.co/700x350/png" alt="Project Image">
                    {% endif %}
                </div>
            
                
                <div class="">
                    <!-- Title and Description -->
                    <div>
                        {% if project.title|lower == 'lab net manager' %}
                        <h1 class="text-[#00D1CD] font-extrabold text-xl lg:text-xl">Lab Net Manager</h1>
                        {% else %}
                        <h1 class="text-[#00D1CD] font-extrabold text-xl lg:text-xl">{{project.title|truncatewords:2}}</h1>
                        {% endif %}
                        <p class="text-white text-sm md:text-base mt-4 leading-relaxed">{{project.description|truncatewords:8}}</p>
                    </div>
            
                    <!-- Technologies Used -->
                    <div class="mt-6">
                        <h3 class="text-[#00D1CD] font-semibold">Technologies Used:</h3>
                        <div class="h-[1px] w-full bg-gray-600 mt-3"></div>
                        <ul class="mt-4 flex flex-wrap gap-4 items-center">
                            {% for tech in project.technologies_used.all %}
                                <li>
                                    <img class="w-[2.5rem] h-[2.5rem] object-contain" src="{{tech.image.url}}" alt="Technology">
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
            
                    <!-- View Project Button -->
                    <div class="mt-8">
                        <a href="{{project.link}}" target="_blank" class="flex items-center justify-center gap-2 w-full text-[#00D1CD] border border-[#00D1CD] hover:bg-[#00D1CD] hover:text-gray-900 hover:font-semibold rounded-lg py-2 transition duration-300 ease-in-out">
                            <i class="uil uil-github text-2xl"></i> View Project
                        </a>
                    </div>
                </div>
                
                
            </div>
            {% endfor %}  
            
        </div>
        <div class="lg:h-[10rem] h-[8rem]">
        </div>
    </div>
</section>


    
{% endblock content %}
    