{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="overflow-auto h-full ">
    <div class="container lg:w-[80%] mx-auto mt-[2rem]">
        <h1 class="text-white text-3xl font-bold">Projects</h1>
        <div class="grid grid-cols-3 gap-[2rem]  mt-[2rem] slide-in-right">
            <div class="bg-[#303030] hover:bg-[#3E4040]  ease-in-out duration-300 py-[2rem] px-[1.5rem] rounded-md">
                <h1 class="text-white font-bold text-xl">Student Collaboration Platform</h1>
                <p class="text-white mt-[1rem] leading-8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure optio laudantium non iste perspiciatis, </p>
                <div class="mt-[1rem]">
                    <h3 class="text-white font-bold">Technology Used:</h3>
                    <div class="divide-y w-full h-[1px] bg-gray-500 mt-3"></div>
                    <ul class="mt-[1rem] flex gap-5 items-center">
                        <li><img class="w-[2rem]" src="{% static 'media/django.svg' %}" alt=""></li>
                        <li><img class="w-[2rem]" src="{% static 'media/javascript.svg' %}" alt=""></li>
                        <li><img class="w-[2rem]" src="{% static 'media/html.svg' %}" alt=""></li>
                        <li><img class="w-[2rem]" src="{% static 'media/css.svg' %}" alt=""></li>
                    </ul>
                    <div class="mt-[1.5rem]">
                        <a href="" class="text-[#00D1CD] gap-3 flex items-center w-[15rem] border hover:bg-[#00D1CD] hover:text-white rounded-md border-[#00D1CD] px-[2rem] py-[0.5rem]"><i class="uil uil-github text-2xl"></i> View Project</a>
                    </div>
                </div>
            </div>
            
            <div class="bg-[#303030] hover:bg-[#3E4040] ease-in-out duration-300 py-[2rem] px-[1.5rem] rounded-md">
                <h1 class="text-white font-bold text-xl">Student Collaboration Platform</h1>
                <p class="text-white mt-[1rem] leading-8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure optio laudantium non iste perspiciatis, </p>
                <div class="mt-[1rem]">
                    <h3 class="text-white font-bold">Technology Used:</h3>
                    <div class="divide-y w-full h-[1px] bg-gray-500 mt-3"></div>
                    <ul class="mt-[1rem] flex gap-5 items-center">
                        <li><img class="w-[2rem]" src="{% static 'media/django.svg' %}" alt=""></li>
                        <li><img class="w-[2rem]" src="{% static 'media/javascript.svg' %}" alt=""></li>
                        <li><img class="w-[2rem]" src="{% static 'media/html.svg' %}" alt=""></li>
                        <li><img class="w-[2rem]" src="{% static 'media/css.svg' %}" alt=""></li>
                    </ul>
                    <div class="mt-[1.5rem]">
                        <a href="" class="text-[#00D1CD] gap-3 flex items-center w-[15rem] border hover:bg-[#00D1CD] hover:text-white rounded-md border-[#00D1CD] px-[2rem] py-[0.5rem]"><i class="uil uil-github text-2xl"></i> View Project</a>
                    </div>
                </div>
            </div>
            <div class="bg-[#303030] hover:bg-[#3E4040] ease-in-out duration-300 py-[2rem] px-[1.5rem] rounded-md">
                <h1 class="text-white font-bold text-xl">Student Collaboration Platform</h1>
                <p class="text-white mt-[1rem] leading-8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure optio laudantium non iste perspiciatis, </p>
                <div class="mt-[1rem]">
                    <h3 class="text-white font-bold">Technology Used:</h3>
                    <div class="divide-y w-full h-[1px] bg-gray-500 mt-3"></div>
                    <ul class="mt-[1rem] flex gap-5 items-center">
                        <li><img class="w-[2rem]" src="{% static 'media/django.svg' %}" alt=""></li>
                        <li><img class="w-[2rem]" src="{% static 'media/javascript.svg' %}" alt=""></li>
                        <li><img class="w-[2rem]" src="{% static 'media/html.svg' %}" alt=""></li>
                        <li><img class="w-[2rem]" src="{% static 'media/css.svg' %}" alt=""></li>
                    </ul>
                    <div class="mt-[1.5rem]">
                        <a href="" class="text-[#00D1CD] gap-3 flex items-center w-[15rem] border hover:bg-[#00D1CD] hover:text-white rounded-md border-[#00D1CD] px-[2rem] py-[0.5rem]"><i class="uil uil-github text-2xl"></i> View Project</a>
                    </div>
                </div>
            </div>
            <div class="bg-[#303030] hover:bg-[#3E4040] ease-in-out duration-300 py-[2rem] px-[1.5rem] rounded-md">
                <h1 class="text-white font-bold text-xl">Student Collaboration Platform</h1>
                <p class="text-white mt-[1rem] leading-8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure optio laudantium non iste perspiciatis, </p>
                <div class="mt-[1rem]">
                    <h3 class="text-white font-bold">Technology Used:</h3>
                    <div class="divide-y w-full h-[1px] bg-gray-500 mt-3"></div>
                    <ul class="mt-[1rem] flex gap-5 items-center">
                        <li><img class="w-[2rem]" src="{% static 'media/django.svg' %}" alt=""></li>
                        <li><img class="w-[2rem]" src="{% static 'media/javascript.svg' %}" alt=""></li>
                        <li><img class="w-[2rem]" src="{% static 'media/html.svg' %}" alt=""></li>
                        <li><img class="w-[2rem]" src="{% static 'media/css.svg' %}" alt=""></li>
                    </ul>
                    <div class="mt-[1.5rem]">
                        <a href="" class="text-[#00D1CD] gap-3 flex items-center w-[15rem] border hover:bg-[#00D1CD] hover:text-white rounded-md border-[#00D1CD] px-[2rem] py-[0.5rem]"><i class="uil uil-github text-2xl"></i> View Project</a>
                    </div>
                </div>
            </div>
            <div class="bg-[#303030] hover:bg-[#3E4040] ease-in-out duration-300 py-[2rem] px-[1.5rem] rounded-md">
                <h1 class="text-white font-bold text-xl">Student Collaboration Platform</h1>
                <p class="text-white mt-[1rem] leading-8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure optio laudantium non iste perspiciatis, </p>
                <div class="mt-[1rem]">
                    <h3 class="text-white font-bold">Technology Used:</h3>
                    <div class="divide-y w-full h-[1px] bg-gray-500 mt-3"></div>
                    <ul class="mt-[1rem] flex gap-5 items-center">
                        <li><img class="w-[2rem]" src="{% static 'media/django.svg' %}" alt=""></li>
                        <li><img class="w-[2rem]" src="{% static 'media/javascript.svg' %}" alt=""></li>
                        <li><img class="w-[2rem]" src="{% static 'media/html.svg' %}" alt=""></li>
                        <li><img class="w-[2rem]" src="{% static 'media/css.svg' %}" alt=""></li>
                    </ul>
                    <div class="mt-[1.5rem]">
                        <a href="" class="text-[#00D1CD] gap-3 flex items-center w-[15rem] border hover:bg-[#00D1CD] hover:text-white rounded-md border-[#00D1CD] px-[2rem] py-[0.5rem]"><i class="uil uil-github text-2xl"></i> View Project</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


    
{% endblock content %}
    