<!DOCTYPE html>
{% load static tailwind_tags %} {% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %} {% endblock title %}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=B612+Mono&display=swap"
      rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap"
      rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.8/css/line.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css" />
    <script
      src="https://unpkg.com/htmx.org@1.9.9"
      integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX"
      crossorigin="anonymous"></script>

    <style>
      body {
        font-family: "Space Mono", sans-serif;
        background: #202020;
      }
    </style>
    {% tailwind_css %}
  </head>
  <body class="h-[100vh] overflow-auto">
    <div id="main" class="relative h-full">
      {% include 'navbar.html' %} 
      
      {% block content %} 
      
      {% endblock content %}

      <div
        class="h-[5rem] md:h-[7rem] 2xl:h-[8rem] xl:h-[7rem] flex items-center z-10 fixed bottom-0 right-0 left-0 bg-gradient-to-tr w-full bg-[#202020] bg-opacity-70 shadow-md backdrop-filter backdrop-blur-md">
        <div
          class="container w-[90%] md:w-[85%] 2xl:w-[70%] lg:w-[80%] mx-auto">
          <ul class="xl:grid gap-3 xl:grid-cols-5 flex justify-between">
            <li class="">
              <a
                class="xl:flex justify-center hidden {% if request.path == '/'%} bg-[#00D1CD] text-gray-800   {% else %} bg-[#3E4040] text-white{% endif %} items-center gap-2 w-full 2xl:py-[1rem] lg:py-[0.7rem] rounded-md cursor-pointer hover:bg-[#00D1CD] hover:text-gray-800  ease-in duration-300"
                href="{% url 'home' %}"
                hx-get="{% url 'home' %}"
                hx-target="#main"
                hx-push-url="true"
                hx-trigger="click">
                <i class="bi bi-house-door text-xl"></i>Home</a
              >
              <a
                class="text-[1.7rem] md:text-[2rem] {% if request.path == '/'%} text-[#00D1CD] {% else %} text-white{% endif %} xl:hidden flex flex-col gap-0 items-center"
                href="{% url 'home' %}"
                hx-get="{% url 'home' %}"
                hx-target="#main"
                hx-push-url="true"
                hx-trigger="click"
                ><i class="bi bi-house-door-fill"></i>
                <span class="text-[0.7rem] md:text-[1rem]">Home</span></a
              >
            </li>

            <li class="">
              <a
                class="{% if request.path == '/about/'%} bg-[#00D1CD] text-gray-800  {% else %} bg-[#3E4040] text-white {% endif %} hidden xl:flex justify-center items-center gap-2 w-full 2xl:py-[1rem] lg:py-[0.7rem] rounded-md cursor-pointer hover:bg-[#00D1CD] hover:text-gray-800  ease-in duration-300"
                href="{% url 'about' %}"
                hx-target="#main"
                hx-get="{% url 'about' %}"
                hx-push-url="true"
                hx-trigger="click"
                ><i class="uil uil-folder-exclamation text-xl"></i> About</a
              >
              <a
                class="text-[1.7rem] md:text-[2rem] {% if request.path == '/about/'%} text-[#00D1CD] {% else %} text-white{% endif %} items-center xl:hidden flex flex-col gap-0"
                hx-target="#main"
                hx-get="{% url 'about' %}"
                hx-push-url="true"
                hx-trigger="click"
                ><i class="bi bi-info-circle-fill"></i>
                <span class="text-[0.7rem] md:text-[1rem]">About</span></a
              >
            </li>
            <li class="">
              <a
                class="hidden {% if request.path == '/contact/'%} bg-[#00D1CD]  text-gray-800 {% else %} bg-[#3E4040] text-white {% endif %} link xl:flex justify-center items-center gap-2 w-full 2xl:py-[1rem] lg:py-[0.7rem] rounded-md cursor-pointer hover:bg-[#00D1CD] hover:text-gray-800  ease-in duration-300"
                hx-get="{% url 'contact' %}"
                hx-target="#main"
                hx-swap="innerHTML"
                hx-push-url="true"
                href="{% url 'contact' %}"
                hx-trigger="click"
                ><i class="uil uil-envelope-minus text-xl"></i> Contact</a
              >
              <a
                class="text-[1.7rem] md:text-[2rem] items-center {% if request.path == '/contact/'%} text-[#00D1CD] {% else %} text-white{% endif %} xl:hidden flex flex-col"
                hx-get="{% url 'contact' %}"
                hx-target="#main"
                hx-push-url="true"
                href="{% url 'contact' %}"
                hx-trigger="click"
                ><i class="bi bi-chat-left-text-fill"></i
                ><span class="text-[0.7rem] md:text-[1rem]">Contact</span></a
              >
            </li>
            <li class="">
              <a
                class="hidden {% if request.path == '/projects/'%} bg-[#00D1CD]  text-gray-800 {% else %} bg-[#3E4040] text-white {% endif %} link xl:flex justify-center items-center 2xl:py-[1rem] lg:py-[0.7rem] gap-2 w-full rounded-md cursor-pointer hover:bg-[#00D1CD] hover:text-gray-800  ease-in duration-300"
                href="{% url 'projects' %}"
                hx-get="{% url 'projects' %}"
                hx-target="#main"
                hx-push-url="true"
                ><i class="uil uil-folder text-xl"></i> Projects</a
              >
              <a
                class="text-[1.7rem] md:text-[2rem] items-center {% if request.path == '/projects/'%} text-[#00D1CD] {% else %} text-white{% endif %} xl:hidden flex flex-col"
                href="{% url 'projects' %}"
                hx-get="{% url 'projects' %}"
                hx-target="#main"
                hx-push-url="true"
                ><i class="bi bi-folder-fill"></i
                ><span class="text-[0.7rem] md:text-[1rem]">Project</span></a
              >
            </li>
            <li class="">
              <a
                class="hidden {% if request.path == '/certifications/' %} bg-[#00D1CD]  text-gray-800 {% else %} bg-[#3E4040] text-white {% endif %} link xl:flex justify-center items-center gap-2 w-full 2xl:py-[1rem] lg:py-[0.7rem] rounded-md cursor-pointer hover:bg-[#00D1CD] hover:text-gray-800 ease-in duration-300"
                href="{% url 'certifications' %}"
                hx-get="{% url 'certifications' %}"
                hx-target="#main"
                hx-push-url="true"
                ><i class="uil uil-clipboard-alt text-xl"></i> Certificates
              </a>
              <a
                class="text-[1.7rem] md:text-[2rem] items-center {% if request.path == '/certifications/'%} text-[#00D1CD] {% else %} text-white{% endif %} xl:hidden flex flex-col"
                href="{% url 'certifications' %}"
                hx-get="{% url 'certifications' %}"
                hx-target="#main"
                hx-push-url="true"
                ><i class="bi bi-mortarboard-fill"></i
                ><span class="text-[0.7rem] md:text-[1rem]"
                  >Certificates</span
                ></a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <script>
      function cancelMenu() {
        document.querySelector(".menu").classList.add("hidden");
      }
      function openMenu() {
        document.querySelector(".menu").classList.remove("hidden");
      }

      // Split the bio content into paragraphs
     // const bioContent = document.getElementById("bioContent");
      //console.log(bioContent);
      //if (bioContent) {
      //   const paragraphs = bioContent.innerHTML
      //     .split("/n")
      //     .map((para) => `<p class="mb-[2rem]">${para}</p>`)
      //     .join("");
      //   bioContent.innerHTML = paragraphs;
      // }
    </script>

    
    {% block js %}
      
    {% endblock js %}
      
  </body>
</html>
