<header class="h-[5rem] flex justify-center items-center bg-[#202020] z-10 sticky top-0">
    <nav class="flex mx-auto container w-[90%] lg:w-[80%] justify-between items-center relative ">
        <h1 class="text-white">Logo</h1>

        <div class="bg-[#202020] bg-opacity-70 p-6 xl:p-0 backdrop-blur-md xl:bg-none menu fixed xl:static xl:backdrop-blur-none w-80   shadow-md xl:shadow-none xl:w-fit xl:flex xl:justify-center xl:items-center lg:w-fit  left-0 backdrop-filter xl:backdrop-filter-none xl:h-fit h-[100vh] top-0">
            <i hx-on:click="cancelMenu()" class="uil uil-times text-white text-[2rem] cursor-pointer block xl:hidden lg:hidden"></i>
            <ul class="flex cur lg:flex-row flex-col mt-[5rem] xl:mt-0  lg:gap-5">
                <li class="mb-[1rem]"><a class="text-white flex items-center gap-2" href="index.php"><i class="uil uil-github text-2xl"></i> Github</a></li>
                <li class="mb-[1rem]"><a class="text-white flex items-center gap-2" href="index.php?page=about"><i class="uil uil-linkedin text-2xl"></i> Linkedin</a></li>
                <li class="mb-[1rem]"><a class="text-white flex items-center gap-2" href="index.php?page=contact"><i class="uil uil-instagram text-2xl"></i> Instagram</a></li>
            </ul>
        </div>
        
        <div class="border border[#00D1CD] px-[3rem] py-[0.5rem] lg:block hidden rounded-md cursor-pointer hover:bg-[#00D1CD]"><a class="text-white" href="index.php?page=contact"><i class="uil uil-clipboard-alt text-xl"></i> Resume</a></div>
        <div class="block lg:hidden xl:hidden">
            <i hx-on:click="openMenu()" class="uil uil-bars text-white text-[2rem] cursor-pointer"></i>
        </div>
    </nav>
</header>

 <!--  fade-in-fwd top-0   xl:bg-opacity-100 bg-opacity-70 p-6 xl:p-0 rounded-md shadow-md xl:backdrop-filter-none backdrop-filter xl:backdrop-blur-none backdrop-blur-md flex flex-row-reverse justify-between xl:h-fit  fixed left-0 w-full -->